<?xml version="1.0" encoding="gb2312"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd  http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">
  <!-- SSO数据库连接 -->
  <jee:jndi-lookup id="dataSourceSSO" jndi-name="java:/comp/env/SSODB" />
  <!-- SSO数据库ibatis -->
  <bean id="ssoSqlSessionFactory" 
                class="org.mybatis.spring.SqlSessionFactoryBean">
                
                <property name="dataSource" ref="dataSourceSSO" />
                
                <property name="mapperLocations">
                        <value>/WEB-INF/config/myibatis/sqlmap/sso/*.xml</value>
                </property>
   </bean>
   
   
   <!-- SSO数据库ibatis -->
   <bean id="ssoSqlSession" class="org.mybatis.spring.SqlSessionTemplate"> 

      <constructor-arg index="0" ref="ssoSqlSessionFactory" /> 

  </bean> 
  
  <!-- SSO用户验证类 -->
  <bean id="ssoAuthManager" class="com.oawebchat.sso.SSOAuthManager">
      <property name="ssoSqlSession" ref="ssoSqlSession" />
  </bean>
</beans>

